# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/.vscode
/node_modules
/.pnp
.pnp.js

# Production build folders
/build
/dist

# Miscellaneous
.DS_Store
*.pem
*.json

# Environment variables
.env
.env*.local